extends layout

block content
  p(class="welcome-message") Welcome to #{title}
  a(href="/new", class="message-link") Message Form
  ul(class="items")
    each message in messages
      li(class="message-item") #{message.user}: #{message.text} '#{message.added}'